APP_MODE=development

BETTER_AUTH_SECRET=6PXfTWzvxzCjdczG0MlsKpd8lYWaAvgJ
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app

DATABASE_URL=postgresql://postgres:juan123@localhost:5432/wawa_db?schema=public